[Unit]
Description=uWSGI instance to serve deployflask
After=network.target

[Service]
User=tiago
Group=www-data
WorkingDirectory=/home/tiago/deployflask
Environment="PATH=/home/tiago/deployflask/venv/bin"
ExecStart=/home/tiago/deployflask/venv/bin/gunicorn --workers 3 --bind unix:app.sock -m 007 app:app

[Install]
WantedBy=multi-user.target